body {
    background-color: rgb(196, 144, 105); /* Set the main background color for the entire page */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: rgb(244, 244, 200); /* Set the background color for the header */
    color: black;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: larger;
    margin: 20px auto;
    max-width: 1500px;
    border-radius: 10px;
}

#here {
    background-color: rgb(244, 244, 200); /* background color for the here section */
    color: black;
    text-align: center;
    padding: 50px 20px;
    font-style: initial;
}

.box {
    background-color: rgb(244, 244, 200); /* background color for boxes and form */
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 1500px;
    border-radius: 10px;
}

.form-box {
    background-color: rgb(244, 244, 200); /* background color for the form */
    color: black;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 500px;
    border-radius: 10px;
}

#about,
#projects,
#contact {
    text-align: center;
    margin: 20px;
}

p {
    color: black;
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.box h2, h1 {
    color: black;
    margin-bottom: 10px;
    font-size: 30px;
    text-transform: uppercase;
}

form {
    display: grid;
    gap: 10px;
}

button {
    background-color: rgb(196, 144, 105);
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: auto;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(160, 120, 90);
}

footer {
    background-color: rgb(244, 244, 200);
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
    border-top: 2px solid rgb(196, 144, 105);
}
