.main-container
{
  display: flex;
  justify-content: space-around;
}

.users-container
{
  padding: 10px;
  height: 100vh;
  width: 50%;

  background-color: rgb(244, 210, 167);
}
.posts-container
{
  height: 100vh;
  padding: 10px;
  width: 50%;
  background-color: rgb(189, 216, 245);
}

.users
{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  
 
  
}